
.course {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #a287e02f;
    border-radius: 10px;
    margin: 2em 0;
    filter: drop-shadow(0px 0px 5px black);


    div {
        padding: 2em;
        display: flex;
        justify-content: center;
        align-items: center;

        h2,h3 {
            color: white;
            margin: 0;
        }
    }


    @include breakpoint("<=large") {
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1em;
        }
    }


}
.cursos{
    li{
        cursor: pointer;
        i{
            padding-right: 10px;
        }
    }
    .active {
        color: _palette(accent);
    }
}

iframe{
    aspect-ratio: 5/3;
    width: 100%;
}
